* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navBar */

#navbar {
  background: black;
  color: pink;
  overflow: auto;
  width: 412px;
}

#navbar a {
  color: pink;
  border-radius: 1rem;
}

#navbar h1 {
  float: left;
  padding-top: 10px;
  text-shadow: red 3px 2px 2px;
  text-align: center;
  font-size: 40px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

/* Creating a active class */

#navbar ul li a:hover, #navbar ul li a.current {
  background: #444;
  color: pink;
}

/* slideshow */

div#slideshow>figure>img {
  display: none;
  margin: 0;
}

div#slideshow>figure.visible>img {
  display: block;
  position: relative;
  overflow: hidden;
}

img {
  width: 412px;
  height: 300px;
}

/* product Img */

.product__img {
  height: 200px;
  width: 250px;
}

/* grid container */

.grid-container {
  display: grid;
  grid-row-gap: 7rem;
  grid-template-rows: 24rem 24rem 24rem 24rem;
  height: 130rem;
  width: 412px;
  padding: 80px 60px;
  background-color: black;
}

.grid-item {
  border: 1px solid pink;
  padding: 1rem;
  text-align: center;
  color: white;
  height: 30.5rem;
}

.button {
  width: 3rem;
  height: 1.5rem;
  border-radius: .5rem;
}

/*footer*/

footer {
  background-color: black;
  width: 412px;
}

.media {
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 20px;
}

.media a {
  padding: 12px;
}

#logo-footer {
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  color: pink;
  text-decoration: none;
  padding: 2px;
}

.copy {
  text-align: center;
  color: pink;
  margin: 0;
  padding: 25px 0 15px 0;
}

/* Facebook */

a.fa-facebook {
  background: #3b5998;
  color: white;
}

/*twitter*/

a.fa-twitter {
  background: #55acee;
  color: black;
}

/*youtube*/

a.fa-youtube {
  background: #bb0000;
  color: white;
}

/*instagram*/

a.fa-instagram {
  background: #125688;
  color: white;
}

@media only screen and (min-width: 413px) {
  #navbar {
    background: black;
    color: pink;
    overflow: auto;
    width: 800px;
  }
  .grid-container {
    display: grid;
    grid-row-gap: 7rem;
    grid-template-rows: 20rem 20rem 20rem 20rem;
    height: 115rem;
    width: 800px;
    padding: 80px 60px;
    background-color: black;
  }

  .grid-item {
    border: 1px solid pink;
    padding: 1rem;
    text-align: center;
    color: white;
    height: 26rem;
  }

  img {
    width: 800px;
    height: 550px;
  }
  .media {
    text-decoration: none;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 25px;
  }
  footer {
    background-color: black;
    width: 800px;
  }
}

@media only screen and (min-width: 801px) {
  /* navBar */
  #navbar {
    background: black;
    color: pink;
    overflow: auto;
    width: 100%;
  }
  img {
    width: 100%;
    height: 550px;
  }
  /* product Img */
  .product__img {
    height: 200px;
    width: 250px;
  }
  /* grid container */
  .grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    height: 35rem;
    width: 100%;
    padding: 70px 70px;
    background-color: black;
  }
  .grid-item {
    border: 1px solid pink;
    padding: 1rem;
    text-align: center;
    color: white;
    height: 30rem;
  }
  /*footer*/
  footer {
    background-color: black;
    width: 100%;
  }
}