.flag {
    height: 700px;
    width: 100%;
    border: 1px solid black; 
    
}
.row {
    height: 500px;
    width: 100%;
}

.red {
    background-color: red;
}
.white {
    background-color: white;
}
img {
    position: absolute;
    height: 370px;
    width: 450px;
    margin-top: 3px;
    margin-left: 2px;
}