.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    height: 800px;
    padding: 10px;
  }
  
  .grid-item {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  img {
    height: 200px;
    width: 250px;
  }
