.people {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 2px black;
  width: 250px;
  padding: 20px;
}

.person {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}
